.footer {
  margin: 0 auto;
  padding: 115px 15px 35px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__nav {
    max-width: 1000px;
    width: 100%;
    padding-bottom: 43px;
    margin: 0 auto 55px auto;
    border-bottom: 1px solid #000;
  }

  &__nav-list {
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-link {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }

  &__logo {
    width: 41px;
    height: 39px;
    margin: 0 auto;
  }

  &__social-list {
    padding: 0;
    margin: 0 auto 72px auto;
    list-style: none;
    display: flex;
  }

  &__social-item {
    height: 40px;
    width: 40px;
  }

  &__social-item:not(:last-child) {
    margin-right: 24px;
  }

  &__copyright {
    margin: 0;
    font-size: 14px;
  }
}
