@import '../variables';

.get-started {
  background-color: $orange;
  padding: 75px 0;

  &__content {
    max-width: 970px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__subtitle {
    font-size: 32px;
    line-height: 1;
    margin: 0;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
}
